* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d8f0ff;
    color: black;
}

header {
    background-color: white;
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 120px;
    height: auto;
}

.header-text {
    text-align: left;
    margin-left: 10px;
}

header h1 {
    font-size: 1.8rem;
    margin-left: 15px;
}

.slogan {
    margin-top: 5px;
    font-size: 0.9rem;
    color: black;
    font-style: italic;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: whitesmoke;
    border-radius: 5px;
}

.hamburger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10; 
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: #888;
    margin: 6px 0;
    transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        width: 40px;
        height: 40px;
        border: 2px solid #888;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: #888;
        margin: 6px 0;
        transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px); 
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .hamburger.hidden {
        display: none;
    }

    .close-menu {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: black;
        cursor: pointer;
        z-index: 12; 
        display: none; 
    }

    
    .close-menu.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background-color: white;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%; 
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 80px;
        padding-left: 20px; 
        z-index: 9;
        transition: right 0.4s ease; 
    }

    nav ul.active {
        display: flex;
        right: 0; 
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li.menu-label {
        font-size: 1.3rem;
        color: black;
        margin-bottom: 30px;
        pointer-events: none; 
    }

    nav ul li a {
        color: black;
        font-size: 0.9rem;
        padding: 10px 0;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .close-menu {
        display: none;
    }
    .menu-label {
        display: none;
    }
}

.content-div {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.content-div p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.content-div p strong {
    font-weight: bold;
}

.content-div a {
    color: #007bff;
    text-decoration: none;
}

.content-div a:hover {
    text-decoration: underline;
}

#join-page {
    padding: 50px 20px;
    background-color: #d8f0ff;
    text-align: center;
}

#join-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#join-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#membershipFormBtn {
    padding: 15px 25px;
    background-color: #00539f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#membershipFormBtn:hover {
    background-color: #003366;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
}

footer .line {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.supported-by .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: #555;
}

#membershipForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #d8f0ff;
}

#membershipForm h3 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

#membershipForm label {
    font-weight: bold;
    color: #555;
}

#membershipForm input[type="text"],
#membershipForm input[type="email"],
#membershipForm input[type="tel"],
#membershipForm select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

#membershipForm button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0073e6;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#membershipForm button[type="submit"]:hover {
    background-color: #005bb5;
}

@media (min-width: 600px) {
    #membershipForm {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    footer {
        position: relative;
        width: 100%;
        height: auto;
        max-width: 100%;
        overflow: hidden;
    }

    .supported-by {
        margin-bottom: 30px;
    }

    .supported-by .logos {
        position: relative;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .supported-by .logos img {
        width: 70px;
        height: auto;
    }

    .social-icons {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .social-icons a img {
        width: 25px;
        height: 25px;
    }
}


/* Events Page */

section h2 {
    font-size: 1.8rem;
    color: #003366;
    margin-bottom: 20px;
    text-align: center;
}

.activity {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e6f3ff; 
    border-radius: 5px;
    border: 1px solid #003366;
}

.activity-header {
    font-size: 1.5rem;
    color: #003366;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #003366;
}

.activity-header:hover {
    background-color: #cce7ff;
}

.click-here {
    font-size: 0.9rem;
    color: #003366;
    margin: 0;
}

.activity-details {
    padding: 10px;
    color: #003366;
    border-top: 1px solid #003366;
    margin-top: 10px;
}

.dropdown {
    display: none;
    padding: 10px;
    background-color: #d9ecff; 
    border: 1px solid #003366;
    border-radius: 5px;
    margin-top: 10px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    font-size: 1rem;
    color: #003366;
    margin-bottom: 5px;
}

.dropdown ul li strong {
    color: #003366;
}

.dropdown ul li em {
    color: #003366;
    font-size: 0.9rem;
}


#booking {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d8f0ff; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#booking h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#booking form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
    color: #333;
}

#booking form input,
#booking form select,
#booking form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#booking form input:focus,
#booking form select:focus {
    border-color: #4CAF50; 
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}

#booking form button {
    background-color: #4CAF50; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#booking form button:hover {
    background-color: #45a049; 
}

#responseMessage {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}
